body {
    background-color: antiquewhite;
}

/* p {
    margin: 0;
} */
h1 {
    margin-bottom: 0;
    margin-top: 10px;
    color: maroon;
    font-family: 'Sacramento', cursive;
    font-size: 5em;
}

p {
    margin-top: 0;
    margin-left: 5px;
}

#intro {
    color: maroon;
}

.image {
    width: 18em;
    height: 23em;
    position: absolute;
    cursor: pointer;
}

.image:hover{
    -webkit-box-shadow: 0px 0px 100px 0px rgb(248, 248, 248);
    -moz-box-shadow: 0px 0px 100px 0px rgb(248, 248, 248);
    box-shadow: 0px 0px 100px 0px rgb(248, 248, 248);
    transition: .8s ease;
    }

#one {
    left: 15%;
    transform: rotate(-5deg);
}

#two {
    bottom:5%;
    left: 23%;
    z-index: 1;
    transform: rotate(5deg);
}

#three {
    left: 40%;
    transform: rotate(5deg);
}

#four {
    /* width: 25em;
    height: 23em; */
    right: 25%;
    bottom:5%;
    z-index: 1;
    transform: rotate(-5deg);
}

#five {
    right: 15%;
    transform: rotate(5deg);
}

/* #six {
    right:1%;
    bottom:5%;
} */

.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: showing;
    opacity: 1;
    z-index: 2
}

.overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.overlay article {
    box-sizing: border-box;
    background-color: #fff;
    padding: 20px;
    width: 50vw;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: scroll;
}

.corner {
    font-size: 36px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    color: tomato;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    outline: none;
}

.z-none {
    z-index: 0;
}

#finish {
    position: fixed;
    bottom: 5%;
    right: 3%; 
    padding: 10px 20px;
    font-size:large;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:maroon;
    border: none;
    border-radius: 15px;
    font-family: 'Merriweather', serif;
}

#benjifound {
    display: none;
    margin: auto;
    padding-bottom: 2%;
}
#outro {
    display: none;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: large;
}

#reset {
    display: none;
    padding: 10px 20px;
    font-size: large;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:maroon;
    border: none;
    border-radius: 15px;
    font-family: 'Merriweather', serif;
    margin: auto;
}

#heart1 {
    position:absolute;
    left: 42%;
    top: 15%;
    height: 3em;
    width: 3em;
    display: none;
}

#heart2 {
    position:absolute;
    left: 48%;
    top: 30%;
    height: 3em;
    width: 3em;
    display: none;
 
}

#heart3 {
    position:absolute;
    left: 44%;
    top: 43%;
    height: 3em;
    width: 3em;
    display: none;
}

#heart4 {
    position:absolute;
    left: 50%;
    top: 40%;
    height: 4em;
    width: 4em;
    display: none;
}

.imageBox1 .hoverImg1 {
    position: absolute;
    left: 18%;
    top: 42%;
    display: none;
  }
  
  .imageBox1:hover .hoverImg1 {
    display: block;
  }

  .imageBox2 .hoverImg2 {
    position: absolute;
    left: 25%;
    bottom: 17%;
    display: none;
    z-index: 2;
  }
  
  .imageBox2:hover .hoverImg2 {
    display: block;
  }

  .imageBox3 .hoverImg3 {
    position: absolute;
    left: 47%;
    top: 40%;
    display: none;
  }
  
  .imageBox3:hover .hoverImg3 {
    display: block;
  }

  .imageBox4 .hoverImg4 {
    position: absolute;
    right: 37%;
    bottom: 40%;
    z-index: 2;
    display: none;
  }
  
  .imageBox4:hover .hoverImg4 {
    display: block;
  }

  .imageBox5 .hoverImg5 {
    position: absolute;
    right: 10%;
    top: 23%;
    display: none;
  }
  
  .imageBox5:hover .hoverImg5 {
    display: block;
  }

#validity1 a{
    color: maroon;
    font-family: 'Merriweather', serif;
    font-size: small;
    display: none;
}
#validity2 a{
    color:maroon;
    font-family: 'Merriweather', serif;
    font-size: small;
    display: none;
}
#validity3 a{
    color:maroon;
    font-family: 'Merriweather', serif;
    font-size: small;
    display: none;
}

footer{
    margin-top: 20px;
    display:flex;
    justify-content: center;
    gap: 10px;
}