body{
    font-family: 'Vidaloka', serif;
    color: white;
    background-color:#DB7093;
}
body:hover{
    /* background-color:blueviolet;
    transition: all 10s ease-out; */
    animation-name: backgroundColorPalette;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes backgroundColorPalette {
    0% {
      background: pink;
    }
    25% {
      background: #9370DB;
    }
    50% {
      background: lightseagreen;
    }
    75% {
      background: lightpink;
    }
    100% {
      background: plum;
    }
  }

div#container{
    width: 100%;
    max-width: 1366px;
    min-width: 900px;
    margin: 1em auto;
   /*  border: 1px white solid; */
}

header{
    margin: 0 auto 2em auto;
}

#banner{
    display:flex;
    width: 1100px;
    height: 250px;
    margin: auto;
    background-color: #ffb3da;
    border: 3px solid white;
}
#banner:hover{
    background-color:plum;
}
img{
    height: 150px;
    width: 150px;
    margin: auto;
    /*transform: rotate(45deg);*/
}
img:hover{
    transform: rotate(2475deg);
    transition: all 3s ease-out;
}
 h1{
     font-size: 3em;
     text-align: center;
 }

 #designclass{
     margin-top: -1em;
     font-size: 1em;
     font-style: italic;
     text-align: center;
 }

 #container>main{
     display: flex;
     justify-content: space-evenly;
     margin: 1em auto;
     padding-top: 30px;
 }

 main section{
     width: 20%;
     border-style: solid;
     border-color: white;
     background-color: rgba(0, 0, 0, 0.445);
     margin: 0 ;
     transition: transform .2s;
     border-radius: 10px;
     /*padding: 1em;*/
 }

 main section:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.2); 
 }

 .title{
     padding-left: 1.2em;
     margin-bottom: 0;
     font-size: 1em;
     font-weight: normal;
     color: white;
 }

 ol,
 ul {
     margin-left: 0;
     padding-left: 1.2em;
 }

 li{
    padding: 0.3em;
    color: white;
    margin-left: 1.5em;
   
 }

 section nav li a {
    line-height: 1.1em;
    display: inline-block;
    padding: 0.2em;
    color: white;
 }

 section a:hover {
    color: white;
  }
 
  #box1 a:hover{
      background-color: plum;
  }
  #box2 a:hover{
      background-color: plum;
  }
  #box3 a:hover{
      background-color: plum;
  }

  /* li:hover{
    background-color: lightseagreen;
  }

  .title:hover{
      background-color: lightpink;
  } */


footer{
    display:flex;
    justify-content: space-evenly;
}

#validity1 a
{
    color:white;
}

#validity2 a
{
    color:white;
}

#validity3 a
{
    color:white;
}
